# pycharm
.idea/
.DS_Store

__pycache/
*.py[cod]
*$py.class

#Django stuff:
local_settings.py
*.sqlite3
media/

# database migrations
*/migrationgs/*.py
!*migrationgs/__init__.py### Example user template template

*.iml
out
gen
