{% extends 'layout/web/basic.html' %}
{% load static %}
{% block title%}用户注册{% endblock %}

{% block css%}
<link rel="stylesheet" href="{% static 'css/web/account.css' %}">
{% endblock %}

{% block content %}
<div class="account container">
    <h1 style="text-align: center">注册</h1>
    <form method="post">
        {% csrf_token %}
        {%for field in form%}
            {%if field.name == 'code'%}
                <div class="form-group">
                    <label for="{{field.id_for_label}}">{{field.label}}</label>
                    <div class="clearfix">
                        <div class="col-md-6" style="padding-left:0;">{{field}}</div>
                        <div class="col-md-6" ><input type="button" value="点击获取验证码" class="btn btn-default"></div>
                    </div>
                </div>
            {%else%}
                <div class="form-group">
                    <label for="{{field.id_for_label}}">{{field.label}}</label>
                    {{field}}
                </div>
            {%endif%}
        {%endfor%}
        <button type="submit" class="btn btn-primary">注 册</button>
    </form>
</div>

{% endblock %}

{% block js%}
{% endblock %}


